<%- include('partials/header') -%>
<section>
    <p>
    # **GhostBuds** (GB) is a private platform for organizing paranormal investigations
    (*GhostBuds is a working title*)

    <img 
    src="https://raw.githubusercontent.com/bumpylumps/ghostBuds/main/ghostPic.jpg"
    class="aboutImage">
    </p>

    <h3>This platform will utilize technology on the MERN stack in order to:</h3>
    <ul>
        <li> Store a database of locations across the USA for paranormal investigations</li>
        <li> Allow team members to vote on their next location</li>
        <li> Allow teams to schedule their investigations together on a calender</li>
        <li> Give each member of the team directions to said location based off of their locations</li>
        <li> Allow team members to store their results in a private area to share with eachother and collaborate with (audio, video, images, etc.)</li>
        <li> Allow members to add their own locations to the database</li>
        <li> Give members the opportunity to build team profiles and individual profiles, but not necessarily for social media (unless they want to)</li>
    </ul>

    <h3>**My goals with this platform are:** </h3>
    <ul>
        <li> To give people outside the realm of paranormal studies a safe way in to experiencing the strange and unexplainable 
        <li> To help budding investigative teams more easily organize their investigations
        <li> To share and review data with eachother without needing to make it public
        <li> **MOST IMPORTANTLY** to allow users to explore the paranormal without getting hindered by paywalls, public accounts, or other practices that exploit the user and their data
        <li> To give investigators a single place to privately store their results and organize investigations without having to hop between multiple platforms online
    </ul>
    </p>
</section>

<section>
    <h3>What to bring on investigations:</h3>
        <ul>
            <li>Flashlight</li>
            <li>Notepad + Pencil</li>
            <li>Safety Gear/first aid kit</li>
            <li>Estes Method kit: <ul>
                <li> SB7 </li>
                <li> Noise Cancelling Headphones </li>
                <li> Blindfold </li>
            </ul>
            </li>
            <li>Audio/Video Recorder</li>
            <li>Tarot Cards/Oracle Cards/ Some form of divination tool</li>
            <li>An Open Mind</li>
        </ul>
    
    <p>The tools in this kit are by no means required. Your thoughts, feelings, and/or personal intuition 
        are always going to be the best tools you can utilize while exploring the unknown.
        For more info on the Estes Method (referring to the Estes Method Kit above) visit <a href="http://weekinweird.com/2019/01/24/estes-method-sb7-spirit-box-experiment-paranormal-investigation/">
            Week in Weird's Estes Method article</a>.
    </p>
 

</section>

<%- include('partials/footer') -%>