<%- include('partials/header') -%>

<section class="about-container">
<section>
    <h3> What is GB? </h3>
    <p>GhostBuds (GB) is a private platform for organizing paranormal investigations
    <img 
    src="https://raw.githubusercontent.com/bumpylumps/ghostBuds/main/ghostPic.jpg"
    class="aboutImage">
    </p>
</section>

<section>
    <h3>What to bring on investigations:</h3>
        <ul>
            <li>Flashlight</li>
            <li>Notepad + Pencil</li>
            <li>Safety Gear/first aid kit</li>
            <li>Estes Method kit: <ul>
                <li> SB7 </li>
                <li> Noise Cancelling Headphones </li>
                <li> Blindfold </li>
            </ul>
            </li>
            <li>Audio/Video Recorder</li>
            <li>Tarot Cards/Oracle Cards/ Some form of divination tool</li>
            <li>An Open Mind</li>
        </ul>
    
    <p>The tools in this kit are by no means required (aside from a first aid kit and a flashlight for safety). Your own thoughts, feelings, or personal intuitions
        are always going to be the best tools you can utilize while exploring the unknown.
        For more info on the Estes Method (referring to the Estes Method Kit above) visit <a href="http://weekinweird.com/2019/01/24/estes-method-sb7-spirit-box-experiment-paranormal-investigation/">
        Week in Weird's Estes Method article</a>.
    </p>

    
    <h3>**Finding locations on google maps**</h3>
    <p> By copying the Long/Lat numbers (both at once, with comma) from a location into <a href="https://www.google.com/maps" target="_blank">Google Maps</a>, you will be able to pinpoint exactly where each location is.</p>

</section>
    <h2>Safety:</h2>
    <p>It is always important to make sure you are being as safe as possible while investigating the unknown. 
        It's highly recommended that you let people know where you will be, and your timeframe for investigating, as
        alot of locations can be pretty isolated. Please make sure that you bring enough food and water, keep your 
        phone batteries charged, and if possible survey your location in daylight so you know what you are getting into. 
        If your location happens to be a historic site, museum, or hotel of some sort, it's recommended that you call ahead
        (speaking from experience, not everyone is open to investigations or surprise visits from paranormal investigators on 
        their property). And finally, watch out for cops (especially in graveyards or cemeteries)!  
<section>

   
</section>

<section>
    <h2>Getting Started:</h2>
    <p>In order to set investigation locations, schedule location times and add your own locations or evidence, 
        a user account is required. Feel free to <a href="/signup">create an account</a>, or check out our locations list.</p>

    <p>User accounts are not required to view locations, but unless you are logged in most of the nav links and the
        add location link on the locations page will redirect you to the home page. GB's team is currently working on 
        a guest option so that users don't need an account for the rest of the site (coming soon!).</p>

    <p>Once the signup form is filled out, and your user account is created, you will be redirected to our <a href="/locations">locations</a> page.
        By clicking on a location you will be able to view it's info, and by clicking on the 
        "Set as next Investigation"button (on the location's page), you can assign a location to your next investigation. </br>
        Your next investigation can always be viewed under the User Data page.
        If desired, a new location can be added by clicking on <a href="/locations/addLocation">add location</a> and filling out the resulting form (it's also available at the top of the list on <a href="/locations">locations</a>).</p>
    
    <p>GhostBuds also has the option to set a date and time for your next investigation at <a href="/schedule">the schedule page</a>.
    </p>

    <p>Finally, there is an area to view your evidence, and add new evidence, in the bottom half of <a href="team">User Data</a>. For
        now it displays your images and any text notes that you have from your investigations, but we are working on adding
        audio submissions for EVPs. </p>
    
    <p>As GhostBuds continues it's development, we will be adding new features and displays for your info. We are currently working
        on adding Team functionality for Users who want to group up and share evidence with eachother. We are also working on setting up private locations
        that will only be accessible to users that add them (and their teams). For any comments, questions or
        concerns, feel free to contact our team via the email link at the bottom of every page. For those interested in the technology
        that GB runs on, there is also a link to our Github repo. Happy Hunting!</p>

 </section>
</section>
<%- include('partials/footer') -%>