<%- include('partials/header') -%>
<section>
    <p>GhostBuds (GB) is a private platform for organizing paranormal investigations
    <img 
    src="https://raw.githubusercontent.com/bumpylumps/ghostBuds/main/ghostPic.jpg"
    class="aboutImage">
    </p>
</section>

<section>
    <h2>Getting Started:</h2>
    <p>In order to set investigation locations, schedule location times and add your own locations or evidence, 
        a user account is required. Feel free to follow the "create an account" link on the home page, and fill
        out the form on the resulting signup page!

        User accounts are not required to view locations, but unless you are logged in most of the nav links and the
        add location link on the locations page will redirect you to the home page. GB's team is currently working on 
        a guest option so that users don't need an account for the rest of the site (coming soon!). 

        Once the signup form is filled out, and your user account is created, you will be redirected to the locations page.
        By clicking on a location you will be able to view that location's page, and by clicking on the "Set as next Investigation"
        button, you can assign a location to your Investigation. If desired, a new location can be added by following the "add location"
        link on the locations page, and filling out the resulting form. 

        

</section>

<section>
    <h3>What to bring on investigations:</h3>
        <ul>
            <li>Flashlight</li>
            <li>Notepad + Pencil</li>
            <li>Safety Gear/first aid kit</li>
            <li>Estes Method kit: <ul>
                <li> SB7 </li>
                <li> Noise Cancelling Headphones </li>
                <li> Blindfold </li>
            </ul>
            </li>
            <li>Audio/Video Recorder</li>
            <li>Tarot Cards/Oracle Cards/ Some form of divination tool</li>
            <li>An Open Mind</li>
        </ul>
    
    <p>The tools in this kit are by no means required. Your thoughts, feelings, and/or personal intuition 
        are always going to be the best tools you can utilize while exploring the unknown.
        For more info on the Estes Method (referring to the Estes Method Kit above) visit <a href="http://weekinweird.com/2019/01/24/estes-method-sb7-spirit-box-experiment-paranormal-investigation/">
        Week in Weird's Estes Method article</a>.
    </p>
 

</section>

<%- include('partials/footer') -%>