<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="utf-8">
  		<meta name="description" content="Your description goes here">
  		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>GhostBuds</title>

		<!--Favicon-->
		

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<h1> WELCOME TO GHOSTBUDS </h1> 

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/locations">Locations</a></li>
				<li><a href="">Schedule</a></li>
				<li><a href="">Team Data</a></li>
			</ul>
		</nav>
        <section class="location-header-container">
            <h2>ADD YOUR OWN LOCATION</h2>
        </section>
        
        <form id="location-form" action="/locations/createLocation" method="POST" class="location-form-container">
            <div id="location-image-container">
                <img src="location.jpg">
                <input id="location-image-submit-button" class="button" type="button" value="Add a Picture">
            </div>

        <section class="location-form-interior">
            <div>
                    <label for="locationName">Name:</label>
                    <input class="input-field" type="text" placeholder="Name" id="locationName" name='locationName'>
            </div>
            <div>
                <label for="streetAddress">Street Address:</label>
                <input class="input-field" type="text" placeholder="Street" id="streetAddress" name='streetAddress'>
        </div>
        <div>
            <label for="townOrCity">Town/City:</label>
            <input class="input-field" type="text" placeholder="City" id="town-city" name='town-city'>
        </div>
        <div>
            <label for="state">State:</label>
            <input class="input-field" type="text" placeholder="State" id="state" name='state'>
        </div>
        <div>
            <label for="latitude">Latitude:</label>
            <input class="input-field" type="text" placeholder="Latitude" id="latitude" name='latitude'>
        </div>
        <div>
            <label for="longitude">Longitude:</label>
            <input class="input-field" type="text" placeholder="Longitude" id="longitude" name='longitude'>
        </div>
        <div>
            <label for="phenomena">Phenomena:</label>
            <input class="input-field" type="text" placeholder="Phenomena" id="phenomena" name='phenomena'>
        </div>
        <div>
            <label for="story">Story:</label>
            <input class="input-field" type="text" placeholder="Story" id="story" name='story'>
        </div>
        <div>
            <label for="pictureURL">Picture of Location:</label>
            <input class="input-field" type="text" placeholder="Picture Url" id="pictureUrl" name='pictureUrl'>
        </div>
        <div>
            <label for="source">Source:</label>
            <input class="input-field" type="text" placeholder="Source" id="source" name='source'>
        </div>
        <div>
            <label for="scales">This location is private:</label>
            <input type="checkbox" id="private" name="private"
                   checked>
          </div>
            <input id="location-submit-button" type="button" class="button" value="Submit">
        </section>
        </form>

        <a href="">Go to added location</a>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
