<%- include('partials/header') -%>
<form action="schedule/setSchedule" method="post">
    
    <!--
    <section class='calendar-container'>
        <section class="month-label">
            <h3><</h3> 
            <h2 class="calendar-month">Month</h2> 
            <h3>></h3>
        </section>
        <div id="calendar"></div>
    </section>
-->

    <!--Time Scheduling-->
    <section class="time-schedule">
        <label for="date">Choose a date:</label>
        <input type="date" id="date" name="date">
        <label for="time">Choose a time:</label>
        <input type="time" id="time" name="time">
        <select name="timeZone">
            <option value="est">EST</option>
            <option value="ct">CT</option>
            <option value="pst">PST</option>
        </select>
        <label for="investigation-leader">
            Investigation Leader:</label>
        <input type="text" 
                id="leader"
                name="leader"
                placeholder="Name of Leader">
        <button type="submit" class="btn btn-primary schedule-button">Schedule</button> 
    </section>
</form>
<%- include('partials/footer') -%>