<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="utf-8">
  		<meta name="description" content="Your description goes here">
  		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<h1> WELCOME TO GHOSTBUDS </h1> 

		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Locations</a></li>
				<li><a href="">Schedule</a></li>
				<li><a href="">Team Data</a></li>
			</ul>
		</nav>

		<section class="team-board-container">
			<h2>Team Board</h2>
			<section class="team-board-info">
				<img src="location.jpg" alt="location picture">
				<ul>
					<li><p>Next Investigation: [date]</p></li>
					<li><p>Investigation Leader: [leader]</p></li>
					<li><p>Location: [location name]</p></li>
					<li><p>Location Description: [description]</p></li>
				</ul>
			</section>
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
