<%- include('partials/header') -%>
	
		<section>
			<h2>Welcome!</h2>
			<p> To get started, take a look at some locations, create an account, or log in</p>
		</section>

<%- include('partials/footer') -%>
