<%- include('partials/header') -%>
	
		<section class="home-container">
			<h2>Welcome!</h2>
			<p> To get started, take a look at some <a href="/locations">locations</a>, <a href="/signup">create an account</a>, or <a href="/login">log in</a></p>
		</section>

<%- include('partials/footer') -%>
