<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="utf-8">
  		<meta name="description" content="Your description goes here">
  		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>GhostBuds</title>

		<!--Favicon-->
		

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<h1> WELCOME TO GHOSTBUDS </h1> 

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/locations">Locations</a></li>
				<li><a href="">Schedule</a></li>
				<li><a href="">Team Data</a></li>
			</ul>
		</nav>

		<section class="locations-list-container">
			<h2>Locations List</h2>
			<ul class="locations-list">
				<% data.forEach(location => { %>
					<li>
							<%= location.name %>
					</li>
				<% }) %>
			</ul>
			<a href="locations/addLocation">Add a Location</a>
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
