<%- include('partials/altHeader') -%>

    <section>
        <section>
            <ul class="locationInfo">
                <li>Title</li>
                <li><img src="../location.jpg"
                        class="specificLocationImage"></li>
                <li>Town/City</li>
                <li>Address</li>
                <li>Story</li>
                <li>Phenomena</li>
                <li>longitude/latitude</li>
                <li>User Added By</li>
            </ul>
        </section>
        <form>
        <button 
            class="voterButton"
            type="submit">
            Vote as next Investigation
        </button>
    </form>

    <a href="/locations"> Back to Locations </a>
    </section>


<%- include('partials/footer') -%>