/* Box Model Hack */
* {
  box-sizing: border-box;
  background-color: black;
  color: white;
  }

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100%;
  background-color: black;
}

#headerBanner {
  width: 50%;
  text-align: center;
  margin: 2% auto;
  color: red;
  outline: 2px solid white;
}



.team-board-container h2 {
  width: 100%; 
  color: white;
  text-align: center;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

nav ul {
  width: 100%;
  overflow: hidden;
  margin: 5% auto;
  padding: 0;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
}

nav a {
  color: white;
  background-color: red;
  text-decoration: none;
}

nav li {
  list-style: none;
  width: 15%;
  padding: 1% 3%;
  text-align: center;
  background-color: red;
}

.team-board-container {
  width: 65%;
  margin: 10% auto;
  outline: 1px solid red;
  font-size: .75rem;
}

.team-board-info {
  display: flex;
}


.team-board-info img {
  outline: 2px solid white;
  width: 30%;
  height: auto;
  margin: 5%;
}

.team-board-info ul {
  margin: 5% 0%;
  padding: 2% 2%;
}


/*add a location page*/

.location-header-container h2 {
  width: 60%;
  margin: 0 auto;
  font-size: 55px;
}



.location-form-container {
  width: 65%;
  margin: 5% auto;
  outline: 3px solid red;
  padding: 5%;
  display: flex;
  align-items: center;
}

.location-form-interior {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 320px;
  padding: 0 2%;
}

.location-form-interior div{
  margin: 1% auto;
}

.location-form-container img {
  width: 80%;
  height: 275px;
  margin: 5%;
}

#location-image-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#location-image-submit-button {
  width: 30%;
  background-color: red;
  color: black;
  margin: 2% 25%;
}

#location-submit-button {
  width: 20%;
  background-color: red;
  color: black;
  margin: 2% auto;
}

footer {
 width: 100%;
 display: flex;
 justify-content: space-around;
 margin: 2% auto;
 font-size: .50rem;
 margin-top: 10%; 
}

footer a {
  color: white;
}

footer a:hover {
  color: red;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav a:hover {
  color: black;
}

.button:hover {
  cursor: pointer;
}

.team-board-info p {
  color: white;
  width: 100%;
  margin: 5%;
}

/*============================================================================================*/

/* about page*/
.aboutImage {
  display: block;
  width: 25%;
}


/* specific location page */
.specificLocationImage {
  display: block;
  width: 25%;
}


/* locations page */
.locations-list-container {
  width: 80%;
  margin: 5% auto;
}

.location-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.locations-list {
  width: 80%;
  margin: 5% auto;
  padding: 0;
}

.locations-list-item {
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 2%;
  font-size: .75rem;
  outline: 3px solid white;
  text-decoration: none;
}

a.location-list-item:hover {
  cursor: pointer;
  background-color: red;
  color: black;
}

button.voterButton {
  background: red;
  width: 20%;
  border-radius: 7%;
  margin: 2% auto;
}
button.voterButton:hover {
  cursor: pointer;
}
button.voterButton:active{
  background:blue;
}
/* Calendar page */

table {
  border-collapse: collapse;
}

td,
th {
 border: 1px solid white;
 color: black;
 padding: 3px;
 text-align: center;
}
th {
 font-weight: bold;
 background-color: #E6E6E6;
}

td {
  color: white;
}

.calendar-container {
  width: 58%;
  margin: 10% auto;
  outline: 3px solid red;
  font-size: .75rem;
}

section.time-schedule {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 2% auto;
}

.time-schedule label {
  margin: 5% auto;
}

section.month-label {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
}


/* team pages */

.evidence-image {
  width: 30%;
  height: auto;
}